<!--{% extends 'base.html' %}-->
<!--{% load static %}-->

<!--{% block title %}日記作成 | Private Diary{% endblock %}-->

<!--{% block active_diary_list %}active{% endblock %}-->

<!--{% block contents %}-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="my-div-style w-100">-->
<!--&lt;!&ndash;            <form method="POST" enctype='multipart/form-data'>&ndash;&gt;-->
<!--                {% csrf_token %}-->
<!--                <table class="table">-->
<!--                    {{ form.as_table }}-->
<!--                </table>-->
<!--                <button class="btn btn-primary" type="submit">作成</button>-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->